body {
    margin: 0;
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

#contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(0, 1fr) auto; 
    grid-template-areas:
        "nav"
        "main"
        "footer";
    min-height: 100vh;
    /*overflow: hidden;*/ 
}

#main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "colum tablero otros";
    gap: 10px;
    padding: 10px;
}

#colum {
    grid-area: colum;
    background-color: rgb(20, 26, 26);
    color: white;
    padding: 10px;
}

#tablero {
    grid-area: tablero;
    background-color: rgb(161, 39, 39);
    text-align: center;
    padding: 10px;
    overflow: hidden; 
}

#ajedrez {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(8 , 1fr);
    grid-template-rows: repeat(8 , 1fr);
    gap: 1px;
}

#ajedrez div {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

/* #ajedrez div:before {
    content: '';
    display: block;
    padding-top: 100%;
} */

#ajedrez div.white {
    background-color: #f0d9b5;
}

#ajedrez div.black {
    background-color: #b58863;
}

#otros {
    grid-area: otros;
    background-color: rgb(75, 11, 131);
    color: white;
    padding: 10px;
}

#footer {
    grid-area: footer;
    background-color: rgb(10, 126, 72);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#multilenguaje {
    display: flex;
    align-items: center;
}

#multilenguaje label {
    margin-right: 10px;
}

@media (max-width: 768px) {
    /* Media query para celular */
    #main {
        grid-template-columns: 1fr; 
        grid-template-areas:
        "colum"
        "tablero"
        "otros";
    }
}

/* 
@media (min-width: 768px) and (max-width: 1023px) {
    
    #main {
        grid-template-columns: 1fr; 
        grid-template-areas:
        "colum"
        "tablero"
        "otros";
    }
} */

@media (min-width: 1024px) {
    /* Media query para monitores */
    #main {
        grid-template-columns: 1fr 3fr 1fr; 
        grid-template-areas: 
        "colum tablero otros";
    } 
}
